---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #93F9B9;
$header-bg-color-secondary: #1D976C;

// Text
$section-headings-color: #1D976C;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

header.page-header {
  display: none;
}

@import "{{ site.theme }}";
